.content {

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #aaa;
    font-size: 4em;
    background: url("../../core/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    // Disable double-tap to zoom as it breaks features such as click-to-generate-money button
    touch-action: manipulation;
}

.content_main {

    display: block;
    width: 100%;
    border-left: 0;
    box-sizing: border-box;
    text-align: center;
    opacity: 0.98;
}

.content_display {

    font-size: 2rem;
    color: #DDD;
    font-weight: bold;
}

.content_display-cash {

    @extend .content_display;
    color: #6F4;
    font-weight: normal;
}

.content_display-warning {

    @extend .content_display;
    color: #F66;
    font-weight: normal;
}

.content_side {

    display: inline-block;
    width: 50%;
}

.content_side-ten {

    @extend .content_side;
    width: 10%;
}

.content_side-twenty {

    @extend .content_side;
    width: 20%;
}

.content_side-thirty {

    @extend .content_side;
    width: 30%;
}

.content_side-forty {

    @extend .content_side;
    width: 40%;
}

.content_side-fifty {

    @extend .content_side;
    width: 50%;
}

.content_side-sixty {

    @extend .content_side;
    width: 60%;
}

.content_side-seventy {

    @extend .content_side;
    width: 70%;
}

.content_side-eighty {

    @extend .content_side;
    width: 80%;
}

.content_side-ninety {
    @extend .content_side;
    width: 90%;
}

.content_side-auto {
    @extend .content_side;
    width: auto;
}

.content_title {

    font-size: 2rem;
    color: #AAA;
    margin: 0 0 20px 0;
    background-color: #222;
    background-color: rgba(#222, 0.8);
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}

.content_fill {

    width: 100%;
    height: 100%;
}

.content_align_left {

    text-align: left;
}

.content_align_center {

    text-align: center;
}

.content_align_right {

    text-align: right;
}

.content_align_top {

    vertical-align: top;
}

.content_align_middle {

    vertical-align: middle;
}

.content_align_bottom {

    vertical-align: bottom;
}

.content_main_background {
    
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.4;
    z-index: -1;
}

.content_sidebar {

    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    opacity: 0.98;
    background-color: #222;
    background-color: rgba(#222, 0.8);
}

.content_footer {

    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    z-index: 5;
    text-align: center;
    width: 100%;
    background-color: #353;
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 20px;
    box-sizing: border-box;
}

.content_hidden {

    display: none;
}