@import "colour";

.navigationbar {

    display: block;
    width: 100%;

    position: relative;
}

.navigationbar_toggle {

    display: block;
    width: 100%;
    background-color: $orange;
    border: 0;
    position: relative;
    z-index: 301;
    font-size: 1em;
}

.navigationbar_options {

    display: none;
    position: relative;
    width: 100%;
    padding-top: 0;
    z-index: 301;
}

.navigationbar_options-shownOnMobile {

    @extend .navigationbar_options;
    display: block;
}

.navigationbar_option {

    display: block;
    width: 100%;
    padding: 8px 4px;
    border-top: 1px solid #631;
    background-color: $orange;
    box-sizing: border-box;
    text-align: center;
    color: #ddd;
    font-weight: bold;
    
    &:hover {
        cursor: pointer;
        background-color: #770;
    }
}

.navigationbar_option_linkContainer {

    @extend .navigationbar_option;
    padding: 0;
}

.navigationbar_option_link {
    
    padding: 8px 4px;
    text-decoration: none;
    color: #ddd;
    display: block;
}

.navigationbar_option-home {
    
    @extend .navigationbar_option;
    display: none;
    width: 100%;
    padding: 20%;
    background-image: url("../../core/images/navbar-heading.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
        opacity: 0.8;
    }
}

@media screen and (min-width: 1024px) {

    .navigationbar {

        display: block;
    }
}