@import "Colour";

.stockexchange {

    display: block;
    text-align: center;
}

.stockexchange_displayText {

    font-weight: bold;
    color: $white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.stockexchange_displayText-multiline {

    font-weight: bold;
    color: $white;   
}

.stockexchange_displayText-green {

    @extend .stockexchange_displayText;
    color: $green;
}

.stockexchange_displayText-red {

    @extend .stockexchange_displayText;
    color: $red;
}

.stockexchange_ticker {

    background-color: $dark-gray;
    margin-top: 2em;
}

.stockexchange_graph {

    display: block;
    width: 100%;
    margin: 0 0 1em 0;
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.stockexchange_graphTraces {

    display: block;
    width: 100%;
    border: 2px solid $orange;
    background-color: #ECC;
    background-color: rgba(255, 240, 240, 0.8);
    color: #444;
    height: 10em;
    font-size: 1em;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 0.1em;
    text-align: right;
}

.stockexchange_graph_figureContainer {

    display: block;
    float: left;
    height: 10em;
    width: 100%;
}

.stockexchange_graphLabels-Y {

    display: none;
    float: left;
    height: 10em;
    box-sizing: border-box;
    position: relative;
    width: 20%;
}

.stockexchange_graphLabels-X {

    display: none;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    height: 1rem;
    color: $white;
}

.stockexchange_graphLabel-Y {

    height: 12%;
    display: block;
    position: absolute;
    color: $white;
}

.stockexchange_graphLabel-X {

    position: absolute;
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.stockexchange_graphLabel-axisY {

    padding-top: 140px;
    box-sizing: border-box;
}

.stockexchange_graphLabel-axisX {

    padding-top: 10px;
    box-sizing: border-box;
}

.stockexchange_graphTrace {

    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.stockexchange_graphTrace-Y {

    width: 100%;
    height: 1px;
    border-top: 1px solid $dark-gray;
    opacity: 0.2;
    position: absolute;
}

.stockexchange_graphTrace-X {

    width: 1px;
    height: 100%;
    border-left: 1px solid $dark-gray;
    opacity: 0.2;
    position: absolute;
}

.stockexchange_container {

    position: relative;
    padding-right: 16px;
    box-sizing: border-box;
}

.stockexchange_graphPoint {

    position: absolute;
    width: 0.1em;
    height: 0.1em;
    background-color: $black;
    border-radius: 100%;
    z-index: 3;
}

.stockexchange_graphTrend {

    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
    stroke: rgba(0, 0, 0, 0.5);
}

.stockexchange_company {

    display: block;
    padding: 0.1em;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.stockexchange_companyName {

    display: block;
    float: left;
    width: 75%;
    padding-top: 4px;
    padding-right: 8px;
    box-sizing: border-box;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: $white;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.stockexchange_companyPerformance {

    display: block;
    width: 25%;
    float: right;
    padding-top: 4px;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/*
.stockexchange_companyButtonContainer {

    display: block;
    width: 25%;
    float: right;
}
*/

.stockexchange_buttonContainer {

    width: 100%;
    text-align: center;
    margin: 0.1em 0 0.2em 0;
}

.stockexchange_button {

    display: block;
    width: 100%;
    padding: 4px 8px;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    color: $white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0.1em;
    background-color: $faint-green;
    color: $white;
    height: 2em;

    &:hover {

        cursor: pointer;
        background-color: #464;
    }
}

.stockexchange_button-noMinWidth {

    @extend .stockexchange_button;
    min-width: 0;
}

.stockexchange_button-disabled {

    @extend .stockexchange_button;
    background-color: #777;
    color: #afafaf;

    &:hover {

        cursor: not-allowed;
    }
}

.stockexchange_button-action {

    @extend .stockexchange_button;
}

/* .stockexchange_buttonAction-noMinWidth {

    @extend .stockexchange_button-action;
    min-width: 0;
}*/

.stockexchange_button-link {

    display: block;
    width: 100%;
    padding: 4px 8px;
    border: 0;
    box-sizing: border-box;
    text-align: center;
    color: $white;
    font-weight: bold;
    font-size: 1em;
    border-radius: 0.1em;
    background-color: $orange;
    color: $white;

    &:hover {

        cursor: pointer;
        background-color: #770;
    }
}

/*.stockexchange_button-link-noMinWidth {

    @extend .stockexchange_button-link;
    min-width: 0;
}*/

/*.stockexchange_button-link-thick {

    @extend .stockexchange_button-link;
    height: 80px;
}*/

/*.stockexchange_button-danger {

    @extend .stockexchange_button;
    background-color: $red;
    color: $white;

    &:hover {

        cursor: pointer;
        background-color: rgb(194, 75, 75);
    }
}*/

/*.stockexchange_button-danger-noMinWidth {

    @extend .stockexchange_button-danger;
    min-width: 0;
}*/

/*.stockexchange_button-danger-thick {

    @extend .stockexchange_button-danger;
    height: 80px;
}*/

.stockexchange_row {

    width: 100%;
    margin-bottom: 0.5em;
    
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.stockexchange_field {

    display: block;
    float: left;
    width: 50%;
    box-sizing: border-box;
    text-align: left;
    padding: 0 0.25em 0 0.25em;

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.stockexchange_label {

    display: block;
    border: 0;
    font-size: 1em;
    background-color: $faint-green;
    background-color: rgba(102, 136, 102, 0.8);
    color: $white;
    padding: 0.5em 0.2em;
    font-weight: bold;
    box-sizing: border-box;
}

.stockexchange_label-disabled {

    @extend .stockexchange_label;
    background-color: #777;
    color: #afafaf;

    &:hover {

        background-color: #777;
        color: #afafaf;
        cursor: not-allowed;
    }
}

.stockexchange_input {

    border: 0;
    background-color: #ECC;
    background-color: rgba(255, 240, 240, 0.8);
    color: #444;
    border-radius: 0.1em;
    padding: 2px 8px;
    box-sizing: border-box;
    font-size: 1em;
}

.stockexchange_input-disabled {

    @extend .stockexchange_input;
    background-color: #999;
    color: $white;

    &:hover {

        cursor: not-allowed;
    }
}

.stockexchange_footer {

    margin-top: 4em;
    width: 100%;
    height: 2em;
    text-align: center;
    padding-left: 0.5em;
    box-sizing: border-box;
}