/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.content {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #aaa;
  font-size: 4em;
  background: url("../../core/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.content_main {
  display: block;
  width: 100%;
  border-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  opacity: 0.98;
}

.content_display, .content_display-cash, .content_display-warning {
  font-size: 2rem;
  color: #DDD;
  font-weight: bold;
}

.content_display-cash {
  color: #6F4;
  font-weight: normal;
}

.content_display-warning {
  color: #F66;
  font-weight: normal;
}

.content_side, .content_side-ten, .content_side-twenty, .content_side-thirty, .content_side-forty, .content_side-fifty, .content_side-sixty, .content_side-seventy, .content_side-eighty, .content_side-ninety, .content_side-auto {
  display: inline-block;
  width: 50%;
}

.content_side-ten {
  width: 10%;
}

.content_side-twenty {
  width: 20%;
}

.content_side-thirty {
  width: 30%;
}

.content_side-forty {
  width: 40%;
}

.content_side-fifty {
  width: 50%;
}

.content_side-sixty {
  width: 60%;
}

.content_side-seventy {
  width: 70%;
}

.content_side-eighty {
  width: 80%;
}

.content_side-ninety {
  width: 90%;
}

.content_side-auto {
  width: auto;
}

.content_title {
  font-size: 2rem;
  color: #AAA;
  margin: 0 0 20px 0;
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.8);
  padding: 30px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content_fill {
  width: 100%;
  height: 100%;
}

.content_align_left {
  text-align: left;
}

.content_align_center {
  text-align: center;
}

.content_align_right {
  text-align: right;
}

.content_align_top {
  vertical-align: top;
}

.content_align_middle {
  vertical-align: middle;
}

.content_align_bottom {
  vertical-align: bottom;
}

.content_main_background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #111;
  opacity: 0.4;
  z-index: -1;
}

.content_sidebar {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  opacity: 0.98;
  background-color: #222;
  background-color: rgba(34, 34, 34, 0.8);
}

.content_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  z-index: 5;
  text-align: center;
  width: 100%;
  background-color: #353;
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content_hidden {
  display: none;
}

.navigationbar {
  display: block;
  width: 100%;
  position: relative;
}

.navigationbar_toggle {
  display: block;
  width: 100%;
  background-color: #A84;
  border: 0;
  position: relative;
  z-index: 301;
  font-size: 1em;
}

.navigationbar_options, .navigationbar_options-shownOnMobile {
  display: none;
  position: relative;
  width: 100%;
  padding-top: 0;
  z-index: 301;
}

.navigationbar_options-shownOnMobile {
  display: block;
}

.navigationbar_option, .navigationbar_option_linkContainer, .navigationbar_option-home {
  display: block;
  width: 100%;
  padding: 8px 4px;
  border-top: 1px solid #631;
  background-color: #A84;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #ddd;
  font-weight: bold;
}

.navigationbar_option:hover, .navigationbar_option_linkContainer:hover, .navigationbar_option-home:hover {
  cursor: pointer;
  background-color: #770;
}

.navigationbar_option_linkContainer {
  padding: 0;
}

.navigationbar_option_link {
  padding: 8px 4px;
  text-decoration: none;
  color: #ddd;
  display: block;
}

.navigationbar_option-home {
  display: none;
  width: 100%;
  padding: 20%;
  background-image: url("../../core/images/navbar-heading.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.navigationbar_option-home:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1024px) {
  .navigationbar {
    display: block;
  }
}

.clicker {
  display: block;
  text-align: center;
  padding-top: 4em;
}

.clicker_display {
  width: 100%;
  margin-bottom: 2em;
}

.clicker_displayText {
  color: #DDD;
  font-weight: bold;
}

.clicker_displayText-cash {
  font-weight: bold;
  color: #6F4;
  font-weight: normal;
}

.clicker_field, .clicker_field_group {
  display: block;
  width: 100%;
  margin-top: 1em;
}

.clicker_field_group {
  overflow: hidden;
}

.clicker_button, .clicker_button-grouped, .clicker_button-generator {
  display: block;
  border: 0;
  padding: 0.4em 0.3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #686;
  color: #DDD;
  font-weight: bold;
  width: 100%;
  border-radius: 0.1em;
  min-height: 4em;
  font-size: 0.9em;
}

.clicker_button:hover, .clicker_button-grouped:hover, .clicker_button-generator:hover {
  cursor: pointer;
  background-color: #464;
}

.clicker_button:last-child, .clicker_button-grouped:last-child, .clicker_button-generator:last-child {
  margin-right: 0;
}

.clicker_button-grouped {
  width: 33.3%;
  margin-top: 0;
  border-radius: 0;
  float: left;
}

.clicker_button-grouped:nth-child(1), .clicker_button-grouped:nth-child(2) {
  border-right: 1px solid #444;
}

.clicker_button-generator {
  min-height: 10em;
  margin-top: 0;
  width: 80%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.clicker_title {
  margin-top: 2em;
  display: block;
  color: #DDD;
  font-weight: bold;
}

.clicker_ticker {
  display: block;
  background-color: #242424;
  width: 100%;
  border-radius: 0.1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clicker_ticker:hover {
  cursor: default;
}

.clicker_tickerCompany, .clicker_tickerCompany-negative, .clicker_tickerCompany-none {
  display: block;
  width: 100%;
  padding: 8px 4px;
  color: #6F6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clicker_tickerCompany-negative {
  color: #F66;
}

.clicker_tickerCompany-none {
  color: #aaa;
}

.clicker_tickerCompanyName {
  display: block;
  float: left;
  padding-right: 8px;
  width: 75%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
}

.clicker_tickerCompanyName:after {
  content: "";
  display: table;
  clear: both;
}

.clicker_companyPerformance {
  display: block;
  float: left;
  width: 25%;
  font-weight: bold;
  text-align: right;
}

.clicker_companyPerformance:after {
  content: "";
  display: table;
  clear: both;
}

.clicker_footer {
  margin-top: 4em;
  width: 100%;
  height: 2em;
  text-align: center;
  padding-left: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stockexchange {
  display: block;
  text-align: center;
}

.stockexchange_displayText, .stockexchange_displayText-green, .stockexchange_displayText-red {
  font-weight: bold;
  color: #DDD;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.stockexchange_displayText-multiline {
  font-weight: bold;
  color: #DDD;
}

.stockexchange_displayText-green {
  color: #6F4;
}

.stockexchange_displayText-red {
  color: #F66;
}

.stockexchange_ticker {
  background-color: #242424;
  margin-top: 2em;
}

.stockexchange_graph {
  display: block;
  width: 100%;
  margin: 0 0 1em 0;
}

.stockexchange_graph:after {
  content: "";
  display: table;
  clear: both;
}

.stockexchange_graphTraces {
  display: block;
  width: 100%;
  border: 2px solid #A84;
  background-color: #ECC;
  background-color: rgba(255, 240, 240, 0.8);
  color: #444;
  height: 10em;
  font-size: 1em;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.1em;
  text-align: right;
}

.stockexchange_graph_figureContainer {
  display: block;
  float: left;
  height: 10em;
  width: 100%;
}

.stockexchange_graphLabels-Y {
  display: none;
  float: left;
  height: 10em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 20%;
}

.stockexchange_graphLabels-X {
  display: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: left;
  height: 1rem;
  color: #DDD;
}

.stockexchange_graphLabel-Y {
  height: 12%;
  display: block;
  position: absolute;
  color: #DDD;
}

.stockexchange_graphLabel-X {
  position: absolute;
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.stockexchange_graphLabel-axisY {
  padding-top: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stockexchange_graphLabel-axisX {
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stockexchange_graphTrace {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.stockexchange_graphTrace-Y {
  width: 100%;
  height: 1px;
  border-top: 1px solid #242424;
  opacity: 0.2;
  position: absolute;
}

.stockexchange_graphTrace-X {
  width: 1px;
  height: 100%;
  border-left: 1px solid #242424;
  opacity: 0.2;
  position: absolute;
}

.stockexchange_container {
  position: relative;
  padding-right: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stockexchange_graphPoint {
  position: absolute;
  width: 0.1em;
  height: 0.1em;
  background-color: #000;
  border-radius: 100%;
  z-index: 3;
}

.stockexchange_graphTrend {
  fill: none;
  stroke-width: 1;
  stroke-linecap: round;
  stroke: rgba(0, 0, 0, 0.5);
}

.stockexchange_company {
  display: block;
  padding: 0.1em;
}

.stockexchange_company:after {
  content: "";
  display: table;
  clear: both;
}

.stockexchange_companyName {
  display: block;
  float: left;
  width: 75%;
  padding-top: 4px;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #DDD;
}

.stockexchange_companyName:after {
  content: "";
  display: table;
  clear: both;
}

.stockexchange_companyPerformance {
  display: block;
  width: 25%;
  float: right;
  padding-top: 4px;
  text-align: center;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stockexchange_companyPerformance:after {
  content: "";
  display: table;
  clear: both;
}

/*
.stockexchange_companyButtonContainer {

    display: block;
    width: 25%;
    float: right;
}
*/
.stockexchange_buttonContainer {
  width: 100%;
  text-align: center;
  margin: 0.1em 0 0.2em 0;
}

.stockexchange_button, .stockexchange_button-noMinWidth, .stockexchange_button-disabled, .stockexchange_button-action {
  display: block;
  width: 100%;
  padding: 4px 8px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #DDD;
  font-weight: bold;
  font-size: 1em;
  border-radius: 0.1em;
  background-color: #686;
  color: #DDD;
  height: 2em;
}

.stockexchange_button:hover, .stockexchange_button-noMinWidth:hover, .stockexchange_button-disabled:hover, .stockexchange_button-action:hover {
  cursor: pointer;
  background-color: #464;
}

.stockexchange_button-noMinWidth {
  min-width: 0;
}

.stockexchange_button-disabled {
  background-color: #777;
  color: #afafaf;
}

.stockexchange_button-disabled:hover {
  cursor: not-allowed;
}

/* .stockexchange_buttonAction-noMinWidth {

    @extend .stockexchange_button-action;
    min-width: 0;
}*/
.stockexchange_button-link {
  display: block;
  width: 100%;
  padding: 4px 8px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  color: #DDD;
  font-weight: bold;
  font-size: 1em;
  border-radius: 0.1em;
  background-color: #A84;
  color: #DDD;
}

.stockexchange_button-link:hover {
  cursor: pointer;
  background-color: #770;
}

/*.stockexchange_button-link-noMinWidth {

    @extend .stockexchange_button-link;
    min-width: 0;
}*/
/*.stockexchange_button-link-thick {

    @extend .stockexchange_button-link;
    height: 80px;
}*/
/*.stockexchange_button-danger {

    @extend .stockexchange_button;
    background-color: $red;
    color: $white;

    &:hover {

        cursor: pointer;
        background-color: rgb(194, 75, 75);
    }
}*/
/*.stockexchange_button-danger-noMinWidth {

    @extend .stockexchange_button-danger;
    min-width: 0;
}*/
/*.stockexchange_button-danger-thick {

    @extend .stockexchange_button-danger;
    height: 80px;
}*/
.stockexchange_row {
  width: 100%;
  margin-bottom: 0.5em;
}

.stockexchange_row:after {
  content: "";
  display: table;
  clear: both;
}

.stockexchange_field {
  display: block;
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  padding: 0 0.25em 0 0.25em;
}

.stockexchange_field:after {
  content: "";
  display: table;
  clear: both;
}

.stockexchange_label, .stockexchange_label-disabled {
  display: block;
  border: 0;
  font-size: 1em;
  background-color: #686;
  background-color: rgba(102, 136, 102, 0.8);
  color: #DDD;
  padding: 0.5em 0.2em;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.stockexchange_label-disabled {
  background-color: #777;
  color: #afafaf;
}

.stockexchange_label-disabled:hover {
  background-color: #777;
  color: #afafaf;
  cursor: not-allowed;
}

.stockexchange_input, .stockexchange_input-disabled {
  border: 0;
  background-color: #ECC;
  background-color: rgba(255, 240, 240, 0.8);
  color: #444;
  border-radius: 0.1em;
  padding: 2px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
}

.stockexchange_input-disabled {
  background-color: #999;
  color: #DDD;
}

.stockexchange_input-disabled:hover {
  cursor: not-allowed;
}

.stockexchange_footer {
  margin-top: 4em;
  width: 100%;
  height: 2em;
  text-align: center;
  padding-left: 0.5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tap-interceptor {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
}
/*# sourceMappingURL=main.css.map */